/tests/data

automation/vapoursynth/__pycache__
packages/desktop/aegisub.desktop
packages/desktop/aegisub.desktop.template
src/libresrc/bitmap.cpp
src/libresrc/bitmap.h
src/libresrc/default_config.cpp
src/libresrc/default_config.h
src/libresrc/default_config_platform.json
tests/*.json
tests/run
tools/osx-bundle-restart-helper
tools/repack-thes-dict
tools/repack-thes-dict.dSYM

# Platform-specific
.DS_Store

# Meson
build*/
/subprojects/*
!/subprojects/*.wrap
!/subprojects/packagefiles
!/subprojects/csri
!/subprojects/iconv
!/subprojects/luabins
/subprojects/packagecache/*

# IDE
.idea
.vscode

# Documentation (generated/temporary)
docs/*.md
docs/*.txt